<%= form_for(@checklist) do |f| %>
  <% if @checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checklist.errors.count, "error") %> prohibited this checklist from being saved:</h2>

      <ul>
      <% @checklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br />
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <%= f.fields_for :checks do |builder| %>
		<%= render "check_fields", :f => builder %>
	<% end %>
	<br />
	<%= link_to_add_fields "Add Todo", f, :checks %>
	<br />
	<br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
