<!DOCTYPE html>
<html>
<head>
  <title>UniqCheck</title>
	<meta name="keywords" content="checklist, checklist online, online checklist, uniqcheck, unique check" >
	<meta name="description" content="Make checklists for personal and team use easily. No logins required." >
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

	<style type="text/css">a { color: #FF9933;} a:hover { color: #FF9933; }</style>
  <%= csrf_meta_tags %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30317823-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
			<%= link_to "UniqCheck", { :controller => "pages", :action => "intropage" }, :class => "brand" %>
            <ul class="nav">
              <li class="active"><%= link_to "Home", :controller => "pages", :action => "intropage" %></li>
              <li><%= link_to "About", :controller => "pages", :action => "about" %></li>
              <li><%= link_to "Contact", :controller => "pages", :action => "contact" %></li>
            </ul>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f6d72ea31b4d77e"></script>
			<!-- AddThis Button END -->
        </div>
      </div>
    </div>

    <div class="container" style ="padding-top:60px">


		<%= yield %>
    </div> 
	<div class="addthis">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_preferred_4"></a>
	<a class="addthis_button_compact"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	</div>
<br /><br /><br />
</body>
</html>
